:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
    margin: 0;
}

header{
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius:50px;
    font-size: 20px;
    padding: 5px;
    color: rgb(159, 159, 199);
    border: 2px solid var(--secondary-color);
}

.search::placeholder {
    color:rgb(159, 159, 199);
}

.search:focus{
    outline: none;
    background-color: var(--secondary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 300px;
    margin: 15px;
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 15px;
}

.movie-info h3 {
    margin-top: 0;
}

.green {
    background-color: var(--primary-color);
    padding: 4px;
    font-weight: bold;
    border-radius: 5px;
    color: yellowgreen;
}

.overview {
    background-color: #fff;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
  }
  
  .movie:hover .overview {
    transform: translateY(0);
  }